body {
	font-size: 16px;
	background-color: #f4f4f4;
	font-family: sans-serif;
	padding: 20px;
}

h1 {
	font-size: 3em;
	/* shorthand for TOP RIGHT BOTTOM LEFT */
	/* margin: 1em 0 1.5em 0; */
	padding: 1.4rem;
}

h2 {
	font-size: 1.9rem;
	padding: 1.4rem;

}

h3 {
	font-size: 1em;
	padding: 1rem;
}

header img {
	width: 30%;
}

p {
	font-size: 1rem;
	line-height: 1.5em;
	margin-bottom: 1.2rem;
	padding: 1rem;
}

.inner-wrapper {
	width: 100%;
	margin: 0 auto;
}

header,
footer {
	background-color: ;
	padding: 2em 0;

}

.main-content {
	width: 65%;

	margin: 0 auto;
	text-align: center;
}

img {
	width: 100%;
	padding: 1rem;
}

/*
.hero {
	text-align: center;
	background-image: url(../images/spacey.jpeg);
	min-height: 8em;
	max-width: 200em;
	padding: 2em;
	margin: 4em 0;
	/* vertically align */
/*display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	color: aliceblue;


}*/



main {
	margin-bottom: 2em;
}
